@import url("./All.css");

#main{
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    font-size: 30px;
}
#name{
    position: relative;
    top: 250px;
    left: 0;
    right: 0;
}
#nameContainer{
    margin-left: 100px;
    font-size: 150px;
}
#bottomCoiso{
    position: relative;
    margin-top: 240px;
    margin-left: 0;
    margin-right: 0;
}
#left{
    margin-top: 30px;
    margin-left: 100px;
    float: left;
    width: calc(50% - 110px);
}
#right{
    margin-top: 30px;
    margin-right: 100px;
    float: right;
    width: calc(50% - 110px);
}
#rightBottom{
    margin-top: 100px;
    width: 100%;
    clear: both;
    float: left;
}
#firstImage{
    float: right;
    width: 100%;
    padding-bottom: 0;
}
#img1, #img3, #img5{
    float: right;
    width: calc(50% - 10px);
    padding-bottom: calc(50% - 5px);
    margin-left: 5px;
    margin-bottom: 10px;
}
#img1{
    margin-top: 0;
}
#img2, #img4, #img6{
    float: left;
    width: calc(50% - 10px);
    padding-bottom: calc(50% - 5px);
    margin-right: 5px;
    margin-bottom: 10px;
    clear: both;
}
#img1, #img2, #img3, #img4, #img5, #img6{
    background-color: #FCB1CC;
}
#img6{
    margin-bottom: 0;
}
#bottomText{
    width: 100%;
    text-align: right;
    float: right;
    margin-top: 100px;
    margin-bottom: 100px;
}
#social{
    width: calc(50% - 10px);
    clear: both;
    float: left;
    margin-top: 40px;
}
#behance, #linkedin, #facebook{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 40px;
}
#behance{
    background-image: url("../Media/Images/Icon/behance_icon.png");
}
#linkedin{
    background-image: url("../Media/Images/Icon/linkedin_icon.png");
}
#facebook{
    background-image: url("../Media/Images/Icon/facebook_icon.png");
}
#behance:hover, #linkedin:hover, #facebook:hover{
    cursor: pointer;
}