@import url("./Helvetica.css");
@import url("./topBar.css");
@import url("./All.css");

#leftBar{
    position: absolute;
    left: 0;
    right: 200px;
    top: 50px;
    bottom: 0px;
}
#leftBarHolder{
    position: absolute;
    left: 100px;
    top: 100px;
    bottom: 200px;
    background-image: url("../Media/Images/Background/Home/Logo_Pessoal.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#coletaneaHolder{
    position: relative;
    left: 0;
    margin-top: 150px;
}
#underHolder{
    position: relative;
    right: 0;
    margin-top: 20px;
}
.coletaneaText{
    font-weight: bolder;
    font-size: 160px;
    text-align: left;
}
.underText{
    position: absolute;
    text-align: left;
    right: 0;
    font-size: 26px;
}

#projectName{
    position: absolute;
    right: 320px;
    top: 31px;
    font-size: 50px;
    font-weight: bolder;
    transform: rotate(270deg);
    transform-origin: right bottom 0;
}

#rightBar{
    position: absolute;
    right: 10px;
    top: 50px;
    bottom: 31px;
    width: 300px;
}
#menu{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    font-size: 130px;
    overflow-y: scroll;
    /*font-size: 72px;*/
    font-weight: bolder;
    text-align: right;
    width: 100%;
}
#menu a{
    text-decoration: none;
    color: #000;
}
::-webkit-scrollbar{
    width: 0;
}

.selected{
    visibility: visible;
}

.selectedItem{
    background: #FF0;
    width: 200px;
    text-align: left;
}
.menuItem{
    background: #FFF;
}

#menu01:hover,#menu02:hover,#menu03:hover,#menu04:hover,#menu05:hover,#menu06:hover,#menu07:hover,#menu08:hover,#menu09:hover,#menu10:hover{
    background: #FCB1CC;
    /*color: #FFF;*/
    width: 300px;
    text-align: left;
    cursor: pointer;
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FFF;
}
#menu01:hover{
    background-image: url("../Media/Images/Home/ProjectsIcons/aTUA.png");
}
#menu02:hover{
    background-image: url("../Media/Images/Home/ProjectsIcons/coletaneaafricanos.png");
}
#menu03:hover{
    background-image: url("../Media/Images/Home/ProjectsIcons/album.png");
}
#menu04:hover{
    background-image: url("../Media/Images/Home/ProjectsIcons/looping.png");
}
#menu05:hover{
    background-image: url("../Media/Images/Home/ProjectsIcons/whatsfake.png");
}
#menu06:hover{
    background-image: url("../Media/Images/Home/ProjectsIcons/looping.png"); /*mudar*/
}
#menu07:hover{
    background-image: url("../Media/Images/Home/ProjectsIcons/submarine.png");
}
#menu08:hover{
    background-image: url("../Media/Images/Home/ProjectsIcons/temoso.png");
}
#menu09:hover{
    background-image: url("../Media/Images/Home/ProjectsIcons/nise.png");
}
#menu10:hover{
    background-image: url("../Media/Images/Home/ProjectsIcons/quadrinho.png");
}