#topBar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    font-size: 20px;
    background: #FFF;
    z-index: 2;
}
#topBarHolder{
    top: 10px;
    left: 0;
    right: 0;
    height: 30px;
    position: relative;
}
.topBarHome{
    height: 40px;
    width: 40px;
    margin-left: 40px;
    margin-bottom: -20px;;
    cursor: pointer;
}
.topBarName{
    margin-left: 40px;
    cursor: pointer;
}
.topBarContact{
    margin-left: 40px;
    cursor: pointer;
}