#menuBurger{
	background: url("../Media/Icons/Menu/Closed/menu-black-18dp/2x/baseline_menu_black_18dp.png");
	background-repeat: no-repeat;
	background-origin: content-box;
	height: 40px;
	width: 40px;
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 3;
}
@media only screen and (max-width: 759px){
	#menuBar{
		visibility: hidden;
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 50%;
		font-size: 20px;
		background: rgba(255,255,255, 0.8);
		z-index: 2;
	}
	#menuBarHolder{
		visibility: inherit;
		top: 70px;
		left: 0;
		bottom: 0;
		position: relative;
		text-align: left;
	}
	.menuBarHome{
		visibility: inherit;
		height: 40px;
		width: 40px;
		margin: auto;
		cursor: pointer;
		float: left;
		clear: both;
	}
	.menuBarName{
		visibility: inherit;
		float: left;
		clear: both;
		cursor: pointer;
		margin-top: 20px;
		border-bottom-color: #000;
		border-bottom-width: 1px;
		text-align: left;
		margin-left: 0;
	}
	.menuBarContact{
		visibility: inherit;
		float: left;
		clear: both;
		cursor: pointer;
		text-align: left;
		margin-left: 0;
	}
	.hideInMobile{
		visibility: hidden;
	}
	#menuBurger{
		visibility: visible;
	}
}
@media only screen and (min-width: 760px){
	#menuBar{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 50px;
		font-size: 20px;
		background: #FFF;
		z-index: 2;
	}
	#menuBarHolder{
		top: 10px;
		left: 0;
		right: 0;
		height: 30px;
		position: relative;
	}
	.menuBarHome{
		height: 40px;
		width: 40px;
		margin-left: 40px;
		margin-bottom: -20px;;
		cursor: pointer;
	}
	.menuBarName{
		margin-left: 40px;
		cursor: pointer;
	}
	.menuBarContact{
		margin-left: 40px;
		cursor: pointer;
	}
	.hideInMobile{
		visibility: visible;
	}
	#menuBurger{
		visibility: hidden;
	}
}